:root {
   font-size: 24px;
   font-family: 'Open Sans', sans-serif;
}

 /* 0, 0, 1 */
div p {
   color: rebeccapurple;
}

/* 0, 0, 2 */
section p {
   color: pink;
}

/* 0, 1, 0 */
.darth-maul {
   color: red;
   background-color: yellow;
}

/* 1, 0, 0 */
#palpatine {
   color: blue;
   border: 1px solid #fad;
}
