   font-size: 24px;

nav {
   border: 1px solid black;
   text-align: center;
}
nav ul {
   list-style: none;
   margin-left: -40px;
}

nav a {
   text-decoration: none;
}

nav ul li {
   width: 100px;
   display: inline-block;
}

a:link {
   color: blue;

}

a:visited {

}

a:hover {

}

a:active {

}
