:root {
   font-size: 24px;
   font-family: 'Gamja Flower', cursive;
}

nav {
   text-align: center;
}
nav ul {
   list-style: none;
   margin-left: -40px;
}

nav ul li {
   width: 100px;
   display: inline-block;
}

a:link {
   color: blue;
   text-decoration: none;
}

a:hover {
   background-color: #ddf;
}

a:active {
   background-color: red;
}
